[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "storywranglr"]
	path = storywranglr
	url = https://github.com/chris31415926535/storywranglr
	shallow = true
	registered = true
[submodule "tardis"]
	path = tardis
	url = https://github.com/chris31415926535/tardis
	shallow = true
	registered = true
[submodule "valhallr"]
	path = valhallr
	url = https://github.com/chris31415926535/valhallr
	shallow = true
	registered = true
[submodule "walkscore"]
	path = walkscore
	url = https://github.com/chris31415926535/walkscore
	shallow = true
	registered = true
