[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pseudohouseholds"]
	path = pseudohouseholds
	url = https://github.com/chris31415926535/pseudohouseholds
[submodule "storywranglr"]
	path = storywranglr
	url = https://github.com/chris31415926535/storywranglr
[submodule "tardis"]
	path = tardis
	url = https://github.com/chris31415926535/tardis
[submodule "valhallr"]
	path = valhallr
	url = https://github.com/chris31415926535/valhallr
[submodule "walkscore"]
	path = walkscore
	url = https://github.com/chris31415926535/walkscore
